{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home page</h1>
<br>

<main role="main">
    <div class="col-md-auto">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h1>Welcome</h1>
            <p>Welcome to Iago Alves Blog! Here we'll be talking about everything artificial
                intelligence. Basics, python, machine learning, data science, new techs, and pretty much anything
                artificial intelligence related.</p>
            <a href="/posts"><button class="btn btn-outline-light" type="button">Go To Posts &raquo;</button></a>
        </div>
    </div>
</main>

{% endblock %}